<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/css/main.css">
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block navbar %}
        <div class="navbar navbar-fixed-top" style="margin-left: 0.5cm; margin-top: .5cm; margin-bottom: .5cm;">
              <ul class="navbar-nav mr-auto nav-fill w-100" style="font-size: large; background-color: rgb(204, 204, 204);">
                <li class="nav-item"><a style="text-decoration: none; color: cornflowerblue; font-weight: bold; font-size: large;" class="nav-link" href="/">Start</a></li>
                <li class="nav-item"><a style="text-decoration: none; color: cornflowerblue; font-weight: bold; font-size: large;" class="nav-link" href="/UC1">Anfahrt</a></li>
                <li class="nav-item"><a style="text-decoration: none; color: cornflowerblue; font-weight: bold; font-size: large;" class="nav-link" href="/UC2">Helfer</a></li>
                <li class="nav-item"><a style="text-decoration: none; color: cornflowerblue; font-weight: bold; font-size: large;" class="nav-link" href="/UC3">Tiere</a></li>
              </ul>
        </div>
        <br><br>
        {% endblock %}
        {%block body%}{% endblock %}
        <!--Fußzeile-->
    </body>
</html>