{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Best Helpers ever</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no Volunteers! :(</h4>
    {% else %}
    <table>
        <tr>
            <th>Helper</th>
            <th>Helper</th>
            <th>Shelter</th>
            <th>Action</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.firstname }}</td>
                <td>{{ task.lastname }}</td>
                <td>{{ task.shelter }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <!--
    auskommentier weil es auf der Startseite keinen Zweck mehr erfüllt
    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Don't use">
        </form>
    </div>
    -->
</div>
{% endblock %}