{% extends 'base.html' %}

{% block head %}
<title>Anfahrt</title>
<link rel="stylesheet" href="../static/css/UC1.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

{% endblock %}

{% block body %}

<div style="padding-bottom: 15cm;">
    <div style="padding-left: 1cm; padding-top: .5cm;">
        <h1>Kontakt unserer Tierheime</h1>
        <h2>Sie würden uns gerne besuchen? Hier finden Sie alle Niederlassungen.</h2><br>
    </div>
    <div class="content">
        <h2 style="text-align: center">Kontakt</h2>
        
        <table>
            <tr>
                <th>Name</th>
                <th>Postleitzahl</th>
                <th>Stadt</th>
                <th>Straße</th>
                <th>Hausnummer</th>
            </tr>
            {% for place in places %}
            <tr>
                <td>{{ place.shelter_name }}</td>
                <td>{{ place.zip_code }}</td>
                <td>{{ place.city }}</td>
                <td>{{ place.street }}</td>
                <td>{{ place.number }}</td>
            </tr>
            {% endfor %}
        </table>
        
    </div>
</div>

<br><br>

{% endblock %}

<!--
    Zum Starten musst du die app.py ausführen und dann auf den localhost gehen
    in app.py gibt es ganz unten ein paar Zeilen die folgendermaßen aussehen

    @app.route('/Vorlage')
    def Vorlage():
        return render_template('Mimis_Vorlage.html')

    Das heißt das der Link zu der Seite localhost:5000/Vorlage ist und das Ganze auf 'Mimis_Vorlage.html'
    verweißt

    Wenn du weitere Seiten baust kannst du sie dir ansehen indem du die diesen Code nochmal an app.py anhängst 
    (unter den anderen app.route Befehlen) und entsprechend den Link und den Verweis auf die HTML änderst

    Arbeite bitte auch weiterhin erstmal nur in der app.py nicht in der database.py
-->