{% extends 'base.html' %}

{% block head %}
<title>Helfer</title>
<link rel="stylesheet" href="../static/css/UC2.css">
{% endblock %}

{% block body %}

<div style="background-color: lavenderblush;">
    <div style="padding-left: 1cm; margin-top: .5cm; padding-top: .5cm;">
        <h2>Du möchtest gerne deinen eigenen Eintrag sehen?</h2>
        <h3>Bitte gib hierzu deinen Vornamen, Nachnamen und dein anfangs festgelegtes Passwort an.</h3>
        <!--<div class="form">
            <form action="/" method="POST">
                <label class="label" for="vorname">Vorname</label><br>
                <input type="text" name="vorname" id="vorname"><br><br>
                <label class="label" for="nachname">Nachname</label><br>
                <input type="text" name="nachname" id="nachname"><br><br>
                <label class="label" for="password">Ihr individueller Zugangsschlüssel</label><br>
                <input type="password" name="Password" id="password"><br>
                <input type="submit" value="Add Task">
            </form>
        </div>-->
        <div class="form">
            <form action="/" method="POST">
                <input type="text" name="content" id="content">
                <input type="submit" value="Add Task">
            </form>
        </div>
    <br>

    <button type="button" class="btn btn-dark">Suchen</button>

    </div>
    
    <div class="content">
        <h1 style="text-align: center">Dein Eintrag</h1>
        <!--{% if tasks|length < 1 %}
        <h4 style="text-align: center">Leider ist hier ein Fehler aufgetreten, wir kümmern uns darum.</h4>
        {% else %}-->
        <table>
            <tr>
                <th>Shelter-ID</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Geschlecht</th>
                <th>Geburtstag</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.content }}</td>
                    <td>{{ task.date_created.date() }}</td>
                    <td>
                        <a href="/delete/{{task.id}}">Delete</a>
                        <br>
                        <a href="/update/{{task.id}}">Update</a>
                    </td>
                    <td>"Dummy"</td>


                </tr>
            {% endfor %}
        </table>
        <!--{% endif %}-->
    </div>
</div>
{% endblock %}

<!--
    Zum Starten musst du die app.py ausführen und dann auf den localhost gehen
    in app.py gibt es ganz unten ein paar Zeilen die folgendermaßen aussehen

    @app.route('/Vorlage')
    def Vorlage():
        return render_template('Mimis_Vorlage.html')

    Das heißt das der Link zu der Seite localhost:5000/Vorlage ist und das Ganze auf 'Mimis_Vorlage.html'
    verweißt

    Wenn du weitere Seiten baust kannst du sie dir ansehen indem du die diesen Code nochmal an app.py anhängst 
    (unter den anderen app.route Befehlen) und entsprechend den Link und den Verweis auf die HTML änderst

    Arbeite bitte auch weiterhin erstmal nur in der app.py nicht in der database.py
-->