{% extends 'base.html' %}

{% block head %}
<title>Helfer</title>
<link rel="stylesheet" href="../static/css/UC2.css">
{% endblock %}

{% block body %}

<div style="background-color: lavenderblush; padding-bottom: 10cm">
    <div style="padding-left: 1cm; margin-top: .5cm; padding-top: .5cm;">
        <h1>Du möchtest gerne ehrenamtlich mithelfen?</h1>
        <h2>Hier kannst du dich eintragen</h2>
        <h3>Wenn du bereits ehrenamtlicher Helfer bist, klicke <a href="/UC2Eintrag">hier</a></h3>
    </div>
    
    <div class="form" style="margin-left: 2cm;">
        <form action="/" method="POST">
            <label class="label" for="niederlassung">An dieser Niederlassung möchte ich helfen.</label><br>
            <select name="niederlassung" id="niederlassung">
                <option value=1>München</option>
                <option value=2>Berlin</option>
                <option value=3>Mannheim</option>
                <option value=4>Düsseldorf</option>
            </select><br><br>
            <label class="label" for="vorname">Vorname</label><br>
            <input type="text" name="vorname" id="vorname"><br><br>
            <label class="label" for="nachname">Nachname</label><br>
            <input type="text" name="nachname" id="nachname"><br><br>
            <label class="label" for="gender">Geschlecht</label><br>
            <select name="gender" id="gender">
                <option value="m">männlich</option>
                <option value="w">weiblich</option>
                <option value="d">divers</option>
            </select><br><br>
            <label class="label" for="date">Geburtsdatum</label><br>
            <input type="date" id="date" name="Datum"><br><br>
            <label class="label" for="password1">Ihr individueller Zugangsschlüssel</label><br>
            <input type="password" name="Password" id="password1"><br><br>
            <label class="label" for="password2">Zugangsschlüssel wiederholen</label><br>
            <input type="password" name="Password" id="password2"><br><br>
            <input type="submit" value="Absenden" class="btn btn-dark">
        </form>
    </div>
</div>
{% endblock %}

<!--
    Zum Starten musst du die app.py ausführen und dann auf den localhost gehen
    in app.py gibt es ganz unten ein paar Zeilen die folgendermaßen aussehen

    @app.route('/Vorlage')
    def Vorlage():
        return render_template('Mimis_Vorlage.html')

    Das heißt das der Link zu der Seite localhost:5000/Vorlage ist und das Ganze auf 'Mimis_Vorlage.html'
    verweißt

    Wenn du weitere Seiten baust kannst du sie dir ansehen indem du die diesen Code nochmal an app.py anhängst 
    (unter den anderen app.route Befehlen) und entsprechend den Link und den Verweis auf die HTML änderst

    Arbeite bitte auch weiterhin erstmal nur in der app.py nicht in der database.py
-->