{% extends 'base.html' %}

{% block head %}
    <title>Tiere</title>
    <link rel="stylesheet" href="../static/css/UC3.css">

    <script>
        function Stringsplit(animal_func){
            var brought_in = animal_func.brought_in.split(" ");
            console.log(brought_in[1])
            console.log("Hallo")
            return brought_in
        }
    </script>
{% endblock %}

{% block body %}
<div style="padding-bottom: 15cm;">
    <div style="padding-left: 1cm; padding-top: .5cm;">
        <h1 style="text-align: center; padding-bottom: 1cm;">Unsere Tiere</h1>
        <h3>Haben Sie Interesse an einem neuen Vierbeiner, der Schwung in Ihren Alltag bringt? Oder ein Nagetier zum Spielen?</h3>
        <h3>Dann sind Sie hier richtig.</h3>
    </div>

    <div class="content">
        <h3 style="text-align: center">Unsere Tiere</h3>
        {% if animals|length < 1 %}
        <h4 style="text-align: center">Leider ist hier ein Fehler aufgetreten, wir kümmern uns darum.</h4>
        {% else %}
        <table>
            <tr>
                <th>Name</th>
                <th>Spezies</th>
                <th>Geschlecht</th>
                <th nowrap>Bei uns seit</th>
                <th>Wo</th>
            </tr>
            {% for animal in animals %}
                {% if animal.taken_at == none %}
                <tr>
                    <td>{{ animal.animal_name }}</td>
                    {% for spe in species %}
                        {% if spe.id == animal.species_id %}
                            <td nowrap>{{ spe.species_name }}</td>
                        {% endif %}
                    {% endfor %}

                    <td>{{ animal.gender }}</td>
                    
                    <td nowrap>{{ animal.brought_in}} </td>
                    {% for shelter in shelters %}
                        {% if shelter.id == animal.shelter %}
                            <td nowrap>{{ shelter.shelter_name }}</td>
                        {% endif %}
                    {% endfor %}
                    
                </tr>
                
                {% endif %}
            {% endfor %}
        </table><br><br>
        <h3 style="text-align: center">Folgende Tiere haben in letzter Zeit ein Zuhause gefunden</h3>
        <table>
            <tr>
                <th>Name</th>
                <th>Spezies</th>
                <th>Geschlecht</th>
                <th>Zuhause seit</th>
            </tr>
            {% for animal in animals %}
            {% if animal.taken_at != none %}
            <tr>
                <td>{{ animal.animal_name }}</td>
                {% for spe in species %}
                    {% if spe.id == animal.species_id %}
                        <td nowrap>{{ spe.species_name }}</td>
                    {% endif %}
                {% endfor %}
                <td>{{ animal.gender }}</td>
                <td id="taken"> {{ animal.taken_at }} </td>
                
            </tr>
            
            {% endif %}
            {% endfor %}
        </table>
        {% endif %}
    </div>
</div>

{% endblock %}

<!--
    Zum Starten musst du die app.py ausführen und dann auf den localhost gehen
    in app.py gibt es ganz unten ein paar Zeilen die folgendermaßen aussehen

    @app.route('/Vorlage')
    def Vorlage():
        return render_template('Mimis_Vorlage.html')

    Das heißt das der Link zu der Seite localhost:5000/Vorlage ist und das Ganze auf 'Mimis_Vorlage.html'
    verweißt

    Wenn du weitere Seiten baust kannst du sie dir ansehen indem du die diesen Code nochmal an app.py anhängst 
    (unter den anderen app.route Befehlen) und entsprechend den Link und den Verweis auf die HTML änderst

    Arbeite bitte auch weiterhin erstmal nur in der app.py nicht in der database.py
-->